    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/layer/2.1/extend/layer.ext.js"></script>
    <script type="text/javascript" src="/static/res/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="/static/res/js/page.js"></script>
    <script type="text/javascript" src="/static/res/js/base.system.js"></script>