#page{
	width:100%;
	padding-bottom: 20px;
}
#page ul.pages {
	display: block;
	border: none;
	font-size: 14px;
	padding: 0;
	font: normal 13px "Microsoft YaHei";
	font-family: "Microsoft YaHei","微软雅黑","sans-serif";
}
#page ul.pages li {
	float: left;
	padding: 5px 10px;
	list-style: none;
	background-color: #eee;
	color: #888;
	margin: 0 3px 0 0;
}
#page ul.pages li:hover {
	color: #fff;
	background-color: rgba(60,72,81,0.6);
}
#page ul.pages li.pgNext {
}
#page ul.pages li.pgEmpty {
	display: none;
}
#page ul.pages li.pgCurrent {
	color: #fff;
	font-weight: 700;
	background-color: #29c06d;
}